
<section class="blog-item green carddiv card blog"  data-id="{{id}}" id="{{blog_title}}">
  <div class="info margin padding location">
      <h3 class="blog-item__title info margin padding">{{blog_title}}</h3>
        <p class="brown">--- --- ---</p>
        <p class="blog-item__content info margin padding">{{blog_content}}</p>
       
      <div>
          <p class="info margin padding">Created by: {{user.username}}</p>
      </div>
  </div>
          
        
</section>

