<li class="blog-item">
          <div class="blog-item__title">{{blog_title}}</div>
          <div class="blog-item__content">{{blog_content}}</div>
       
          <div>
            <p>Created by: {{user.username}}</p>
          </div>
        <div>
           {{!-- {{#each comments}} --}}
            <div class="blog-item_comment">
              
              <p>{{comments.comment_content}}</p>
              {{!-- <p>Created by: {{user.username}}</p> --}}
            </div>
            {{!-- {{/each}} --}}
        </div>
</li>