<section data-id="{{id}}">
<section class="blog-item info carddiv card blog"  data-id="{{id}}" id="{{blog_title}}">
          <h3 class="blog-item__title">{{blog_title}}</h3>
          <p class="brown">--- --- ---</p>
          <p class="blog-item__content">{{blog_content}}</p>
       
          <div>
            <p>Created by: {{user.username}}</p>
          </div>
          <p>Comments:</p>
</section>

