<section data-id="{{id}}">
<section class="blog-item info carddiv card blog"  data-id="{{id}}" id="{{blog_title}}">
          <h3 class="blog-item__title">{{blog_title}}</h3>
          <p class="brown">--- --- ---</p>
          <p class="blog-item__content">{{blog_content}}</p>
       
          <div>
            <p>Created by: {{user.username}}</p>
          </div>
          <p>Comments:</p>
</section>

    <form class="new-comment-form commentdiv">
        <div class="form-group">
            <input type="text" id="comment-content" name="comment-content" class="form-input"/>
        </div>
        <button type="submit">Comment</button>
    </form>

</section>

<section>
        <div>
          {{#each blog.comment as |comment|}}
          {{> comment}}
          {{/each}}
        </div>
</section>


