<section class="info homediv">
    <h3>Here Are Your Journies {{this.user.username}}!</h3>
    <div>
<ul class="blog-list">
    {{#each blogs}}
        <li>
            <h4>{{this.blog_title}}</h4>
            <p>{{this.blog_content}}</p>
            <p>Created by: {{this.user.username}}</p>
            <p>User ID: {{this.user_id}}</p>
        </li>
    {{/each}}
</ul>
    </div>
</section>
